/* reset / base styles. This ensures consistency across browsers */
/* Reset margins & paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

html,
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.food_card {
    border: 1px solid #E7E7E7;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}