/* reset / base styles. This ensures consistency across browsers */
/* Reset margins & paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: black;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}