.content_limitation {
    display: flex;
    justify-content: center;
    background-color: #ff8000;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
    width: 100%;
    max-width: 1440px;
}

.logo {
    width: auto;
    height: 50px;
}

.logo_footer {
    width: auto;
    height: 30px;
}

main {
    flex: 1;
}

.main_content_limitation {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content {
    width: 100%;
}

.hero_img {
    position: relative;
    background-image: url(../assets/img/hero.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
}

.hero_text_overlay {
    position: absolute;
    top: 110px;
}

.hero_img_split {
    background-image: url(../assets/img/hero.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 70px;
    /* bottom strip */
    width: 100%;
    margin-top: 270px;
    /* creates overlap effect */
}

.bowl_img_middle {
    background-color: #f8f8f8;
    position: absolute;
    top: 90px;
    /* overlap slightly below hero image */
    left: 50%;
    /* center horizontally */
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid #E7E7E7;
    width: 90px;
    object-fit: cover;
    background-repeat: no-repeat;
}

h1 {
    margin: 40px 0 10px 10px;
    padding-top: 10px;
    font-size: 26px;
}

h2 {
    margin: 200px 0 20px 10px;
}

.navigation {
    display: flex;
    align-items: center;
    margin: 10px;
}

.navigation_links {
    display: flex;
    gap: 20px;
}

.rating {
    margin-left: 10px;
    color: #ff8000;
}

.price {
    color: #ff8000;
    font-weight: bold;
}

.content_footer {
    margin-top: 50px;
    width: 100%;
    background-color: #ff8000;
    display: flex;
    justify-content: center;
}

.footer_content_limitation {
    margin: 0 auto;
}

footer {
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.social_media_container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.social_media {
    width: 40px;
    height: auto;
    filter: invert(100%) brightness(200%);
    transition: filter 125ms ease;
}

.social_media:hover,
.social_media:focus {
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    padding-top: 10px;
}

.social_media_and_brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}