.content_limitation {
    display: flex;
    justify-content: center;
    background-color: #ff8000;
}

.burger_wrapper {
    display: none;
}

header {
    padding: 5px 10px;
    width: 100%;
    max-width: 1440px;
}

.header_content {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 50px;
}

.logo_footer {
    width: auto;
    height: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content_wrapper {
    gap: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.shopping_cart_wrapper {
    width: 300px;
    flex-shrink: 0;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #E7E7E7;
}

.main_wrapper {
    flex: 1;
    padding: 0 16px;
}

.main_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.shopping_cart {
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: 300px;
    background: #fff;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100vh;
}

.shopping_cart_img {
    width: 60px;
    height: auto;
    margin: 20px 0;
}

.shopping_cart_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.shopping_cart_full_container {
    overflow-y: auto;
}

.shopping_cart_full {
    padding: 15px;
}

.amount_price {
    display: flex;
    justify-content: space-center;
    align-items: center;
    box-sizing: border-box;
    gap: 10px
}

.names_shopping_cart {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin-bottom: 10px;
}

.headline_shopping_cart {
    text-align: center;
    margin-top: 10px;
}

.cart_summary {
    margin: 15px;
    border-top: 1px solid #E7E7E7;
    padding-top: 10px;
}

.cart_subtotal,
.cart_delivery,
.cart_total {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.cart_total {
    font-weight: bold;
    border-top: 1px solid #E7E7E7;
    padding-top: 10px;
    margin: 10px 15px 15px 15px;
}

.fill_empty_basket_headline {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.hero_img {
    position: relative;
    background-image: url(./assets/img/hero.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
}

.hero_text_overlay {
    position: absolute;
    top: 110px;
    max-width: 1440px;
    margin-left: 10px;
}

.hero_img_split_1 {
    background-image: url(./assets/img/hero.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 70px;
    width: 100%;
    margin-top: 280px;
}

.hero_img_split_2 {
    background-image: url(./assets/img/hero_2.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 70px;
    width: 100%;
    margin-top: 40px;
}

.hero_img_split_3 {
    background-image: url(./assets/img/hero_3.png);
    background-position: center bottom;
    background-size: cover;
    height: 70px;
    width: 100%;
    margin: 40px 0 0 0 0;
    padding: 0;
}

.bowl_img_middle {
    background-color: #f8f8f8;
    position: absolute;
    bottom: -35px;
    /* overlap slightly below hero image */
    left: 50%;
    /* center horizontally */
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid #E7E7E7;
    width: 90px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.food_card {
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.food_card:hover {
    background-color: #E7E7E7;
}

.add_to_basket_btn {
    border: 1px solid rgb(212, 206, 206);
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.order_btn {
    background-color: #ff8000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin: 15px auto;
    display: block;
}

.order_btn:hover {
    background-color: #e67000;
}

.shopping_cart_message {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

h1 {
    margin: 40px 0 10px 0;
    padding-top: 10px;
    font-size: 26px;
}

h2 {
    margin: 240px 0 20px 10px;
}

.dessert_headline {
    margin-top: 40px;
}

.starters_headline {
    margin: 40px 0 20px 10px;
}

.name_plus_btn_container {
    display: flex;
    justify-content: space-between;
}

.close_burger {
    display: none;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    align-items: center;
    margin: 10px;
}

.navigation_links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation_links .arrow {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto 0;
}

.navigation_links a:active,
.navigation_links a:focus,
.navigation_links a:hover {
    color: #ff8000;
}

.rating {
    margin-left: 10px;
    color: #ff8000;
}

.price {
    color: #ff8000;
    font-weight: bold;
}

.content_footer {
    margin-top: 25px;
    width: 100%;
    background-color: #ff8000;
    display: flex;
    justify-content: center;
}

.footer_content_limitation {
    margin: 0 auto;
}

footer {
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.social_media_container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.social_media {
    width: 40px;
    height: auto;
    filter: invert(100%) brightness(200%);
    transition: filter 125ms ease;
}

.social_media:hover,
.social_media:focus {
    filter: drop-shadow(0px 0px 5px #f7f5f3);
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    padding-top: 10px;
}

.social_media_and_brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile_btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.mobile_btn_text {
    font-weight: bold;
    font-size: 20px;
}

.show_cart_btn_mobile {
    display: none;
    padding: 20px 60px;
    border-radius: 5px;
    border: 1px solid rgb(212, 206, 206);
    background-color: #ff8000;
    cursor: pointer;
}

.show_cart_btn_mobile:hover {
    background-color: #ee9d4c;
}

.d_none {
    display: none;
}

.show {
    display: block;
    width: 100%;
}

.shopping_cart_container {
    position: sticky;
    top: 0;
}

.burger {
    top: 10px;
    right: 10px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    padding-right: 20px;
}

.modal {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

/* Centered content */
.modal_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1650px) {
    .logo_wrapper {
        margin: 0 0 0 20px;
    }
}

@media (max-width: 1200px) {
    .starters_headline {
        margin-top: 40px;
    }
}

@media (max-width: 650px) {
    .shopping_cart_container {
        display: none;
    }

    h2 {
        margin: 230px 0 20px 10px;
    }

    .shopping_cart.show {
        display: block;
    }

    .show_cart_btn_mobile {
        display: block;
        margin-top: 20px;
    }

    .hero_text_overlay {
        top: 130px;
    }

    .burger_wrapper {
        display: flex;
    }

    .close_burger {
        display: block;
    }

    .navigation_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 10px;
        background: white;
        border: 1px solid #E7E7E7;
        border-radius: 8px;
        padding: 10px;
        width: 180px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .navigation_links.show {
        display: flex;
    }

    .add_to_basket_btn:hover {
        background-color: hwb(36 38% 4% / 0.966);
        transform: scale(1.05);
        transition: all 0.2s ease;
    }
}

@media (max-width: 610px) {
    .bowl_img_middle {
        width: 70px;
    }

    .hero_text_overlay {
        top: 140px;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .hero_img_split_1 {
        margin-top: 300px;
    }

}